html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #2c3e50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 1.6rem;
    color: #ffffff;
}

.navbar-nav .nav-link {
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #1abc9c;
}

.jumbotron {
    width: 100%;
    background-color: rgba(236, 240, 241, 0.9);
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
    font-family: 'OpenSans-Bold', sans-serif;
    color: #2c3e50;
    font-size: 3.5rem;
}

.jumbotron p {
    font-family: 'OpenSans-Light', sans-serif;
    color: #34495e;
    font-size: 1.5rem;
}

.jumbotron p.lead {
    font-size: 1.3rem;
    font-weight: 300;
}

.jumbotron a {
    color: #1abc9c;
    font-weight: bold;
    text-decoration: none;
}

.jumbotron a:hover {
    color: #16a085;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button[onclick='toggleHelp()'] {
    background-color: #007bff;
    transition: background-color 0.3s;
}

button[onclick='toggleHelp()']:hover {
    background-color: #0056b3;
}

button[onclick='toggleHelp()'].active {
    background-color: #014e9f;
}

header {
    text-align: center;
    margin: 20px 0;
}

#maze {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns that fill available width */
    grid-template-rows: repeat(10, 1fr);    /* 10 rows that fill available height */
    gap: 2px; /* Space between cells */
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #f8f9fa;
}

.wall {
    background-color: #343a40;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

#maze-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #e0e0e0, #f9f9f9);
    padding: 20px;
    border-radius: 10px;
}

.mute-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #343a40;
}

.mute-button:hover {
    background: none;
    color: #343a40;
}

button:focus {
    outline: none;
}

.player {
    background-image: url('images/player.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.enemy {
    background-image: url('images/enemy.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.exit {
    background-image: url('images/exit.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.exit-open {
    background-image: url('images/exitopen.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.collectible {
    background-image: url('images/collectible.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.key {
    background-image: url('images/key.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.trap {
    background-image: url('images/trap.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#info-bar div {
    font-size: 1.25em;
    font-weight: bold;
}

.info-item {
    margin: 0 15px;
}

.navbar, .jumbotron, footer {
    margin: 0;
}

#iosPermissionPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#iosPermissionPopup .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.rule {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #2c3e50;
}

p {
    margin: 5px 0 0;
    font-size: 1rem;
}

#controls-wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #014e9f;
}

#helpField {
    display: none;
    position: absolute;
    top: -1px;
    left: 15%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

footer {
    width: 100%;
    margin-top: auto;
    color: white;
}

@media (max-width: 1000px) {
    #controls {
        justify-content: space-around;
        padding-bottom: 15px;
    }

    #helpField {
        position: relative;
        left: 0;
    }
}

@media (max-width: 768px) {
    #maze {
        grid-template-columns: repeat(10, 1fr);
    }

    .cell {
        width: 30px;
        height: 30px;
    }

    #info-bar div {
        font-size: 0.7em;
        font-weight: bold;
    }
}
